<h1>Books</h1>

<table class="table">
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Author
      </th>
      <th>
        Details
      </th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <%= book.title %>
        </td>
        <td>
          <%= book.author.first_name %> <%= book.author.last_name %>
        </td>
        <td>
          <%= link_to "View Details", book_path(id: book.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
